experimental/
d0zer
elf64
fake_binary
helloworld
helloworld32
helloworld32-copy
helloworld.bin
helloworld.c
helloworld-copy
helloworld-copy.bin
helloworld-copy-copy
helloworld-copy-copy-test
helloworld-copy-test
jmp-to-oep
jmp-to-oep.asm
jmp-to-oep.o
LICENSE
lpv.c
ls
ls-copy
ls-copy-test
non-destructive-payload
non-destructive-payload.asm
non-destructive-payload.o
output
test
test.go
epiloguejmp
helloworld32_dynamic
helloworld32_static
helloworld64_dynamic
helloworld64_static
